*{
    padding: 0;
    margin: 0;
}
.main{
    width: 100%;
    height: auto;
    background-color: #003;
    align-content: center;
    
}
.header{
    width: auto;
    display: inline;

    
}
.header .icon{
    margin-right: 20px;
    margin-top: 20px;
    color: #cca;
    font: 40px Snap ITC lighter;
    display: flex;
    justify-content: space-between;
}
.header .icon h4{
    margin-top: 50px;

}
.header .icon img{
    
    width: 200px;
}
.header h{
    height: 50px;
    width: 200px;
    color: orange;
    font-size: 32px;
    font-weight: bold;
    text-align: center;
    padding-top: 20px;
    margin-left: 10px;
    font-family: Arial;
    justify-content: center;
    float: left;
}
.menu {
  list-style: none;
  align-content: center;
  align-items: center;
  justify-content: space-between;

 
}

.menu li {
    width: auto;
    margin-top: 10px;
  display: inline-flex;
  position: relative;
  justify-content: space-evenly;
}

.menu li a {
    font-size: 20px;
  display: block;
  padding: 10px;
  text-decoration: none;
  color: #ff2d74;
  border-radius: 2px;
  transition: .3s;
}
.menu li a:hover{
    color: orange;
    letter-spacing: 1.5px;
    border: 1px orange solid;
    border-radius: 10px;
}

.menu li:hover > .dropdown-menu {
  display: block;
}

.dropdown-menu {
    width: 170px;
  display: none;
  position: absolute;
  top: 100%;
  left: 20%;
  background-color: #004DFF;
  padding: 10px;
  z-index: 1;
  transition: .3s;
}

.dropdown-menu li {
  display: block;
  transition: .2s;
}
.dropdown-menu li:hover{
    color: white;
}

.dropdown-menu li a {
  padding: 5px;
}

.dropdown-menu li a:hover {
  background-color: #6FAAFF;
}
.content{
    width: auto;
    height: auto;
    
}
.content .pint{
    font-size: 20px;
  width: auto;
  height: 300px; 
  background: linear-gradient(to right, rgba(0, 1, 1, 1), rgba(0, 0, 0, 0.2)), url(Pics/eb93f90b67e0022291381d4f429e4905.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  padding: 50px;
}
.content h1{
    text-align: center;
    color: white;
    font-size: 30px;
    font-weight: lighter;
    margin: 8%;
    
}
.content h1 span{
    font-size: 50px;
    color: orange;
    
}
img{
    width: 100%;
    height: normal;
    max-height: 300px;
    object-fit: cover;
    top: 0;
    border-radius: 10px;
}
.content h2{
    text-align: center;
    color: orange;
    font-size: 30px;
    font-weight: bold;
    margin-top: 40px;
    border: 1px orange solid;
    padding: 20px;
    padding-left: 20px;
}
.content h3{
    color: white;
    font-size: 25px;
    text-align: center;
    font-weight: lighter;
    margin-top: 30px;
    margin-left: 10%;
    margin-right: 10%;
    line-height: 50px;
    
}
.content h3 span{
    color: orange;
    
}
.content button a{
    font-size: 25px;
    text-decoration: none;
    color: orange;
}

.content .ip a{
    text-decoration: none;
    color: orange;
    margin-top: 20px;
    text-align: center;
    
}
.content .ip li a{
    color: yellow;
    list-style: none;
    text-align: center;
    margin-top: 70px;
}
a{
    color: white;
    text-decoration: none;
    
}
li{
    list-style: none;
}    
.content a{
    color: orange;
    font-size: 20px;
}
button{
    height: 70px;
    width: 50%;
    background: transparent;
    color: orange;
    position: center;
    margin-left: 25%;
    margin-right: 25%;
    font-size: 30px;
    border: 1px orange solid;
    border-radius: 20px;
    margin-top: 30px;
    margin-bottom: 20px;
}
button:hover{
    background: #030312;
    border: 0px;
}
aside ul li a{
    text-decoration: none;
}
aside{
    display: inline-flex;
    width: 100%;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    overflow: auto;

  

}
aside .plan{
    border: 1px dotted white;
    border-radius: 7px;
    height: auto;
    width: 300px;
    margin-right: 5px;
    padding: 4px;
    line-height: 40px;
    transition: .3s;
}
aside .plan:hover{
    background-color: #030312;
    border: none;
    box-shadow: 1px 1px 1px white;

}
h2, h3 {
    color: white;
    justify-content: center;
    align-items: center;
    text-align: center;

}
.result {
    display: inline-block;
    width: 100%;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;

   
}
.result img{
    width: 300px;
    height: 100%;
    padding: 20px;
    object-fit: fill;
    
    text-align: center;
    transition: .3s;
}
.result img:hover{
    width: 350px;
    height: 180%;
    box-shadow: 0px 1px 3px white;
}
.footer{
    width: auto;
    height: 200px;
    border-top: 1px orange solid;
    margin-top: 10%;
    
}
.footer ul{
    height: 200px;
    border-right: 1px white solid;
    width: 150px;
    padding-top: 15px;
    padding-right: 10px;
    
}
.footer ul a{
    text-decoration: none;
    color: orange;
    text-align: center;
    line-height: 10px;
    text-align: right;

}
.footer ul a li{
    display: normal;
    width: 150px;
    height: 20px;
    margin-top: 7px;
}
.buttons{
    height: 70px;
    object-fit: cover;
}
